extends ../layout.pug

block content
  div
    a(href=`/teams/create` role='button') Create Team

  div.wrapper
    table.table
      thead
        tr
          th Team ID
          th Team Name
      tbody
        each team in teams
          tr
            td= team.id
            td= team.teamName
            td
              a(href=`/teams/${team.id}/edit` role='button') Edit
            td
              a(href=`/teams/${team.id}/delete` role='button') Delete
