extends layout.pug

block content
  div.wrapper
    table.table
      thead
        tr
          th Column ID
          th Column Name
          th Project ID
      tbody
        each column in columns
          tr
            td= column.id
            td= column.columnName
            td= column.projectId
