extends layout.pug

block content
    .body-paragraph
      h1 Continue to keep your team organized and well-oiled!
      p With CARL, you and your team members can keep your projects/tasks/priorities organized and get the job done!
    .body-video
      video(src="../board-demo.mp4" width="750" height="500" loop autoplay)
    .body-video
      video(src="../board-demo-2.mp4" width="750" height="500" loop autoplay)
    .information
      .message
        h1 Get Organized
        p Plan and structure work in a way that’s best for you. Set priorities and deadlines. Share details and assign tasks. All in one place.
      .message
        h1 Stay on Track
        p Follow projects and tasks through every stage. You know where work stands and can keep everyone aligned on goals.
      .message
        h1 Hit Deadlines
        p Create visual project plans to see how every step maps out over time. Pinpoint risks. Eliminate roadblocks. Even when plans change.
      
      