extends layout.pug

block content
    .body-paragraph
      h1 Continue to keep your team organized and well-oiled!
      p With CARL, you and your team members can keep your projects/tasks/priorities organized and get the job done!
    .body-video
      video(src="../board-demo.mp4" width="750" height="500" loop autoplay)