doctype html
html
  head
    title Asana Clone
    link(rel="stylesheet" type="text/css" href="../home-page.css")
  body
    nav.navbar
      a.navbar-brand(href='/') CARL
      div.navbar-nav
        a.nav-item.nav-link.nav-1(href='/user/login') Login
        a.nav-item.nav-link.nav-2(href='/user/register') Register
  block content
    .body-paragraph
      h1 Continue to keep your team organized and well-oiled!
      p With CARL, you and your team members can keep your projects/tasks/priorities organized and get the job done!
    