doctype html
html
  head
    title Asana Clone
    link(rel="stylesheet" type="text/css" href="../home-page.css")
  body
    nav.navbar
      a.navbar-brand(href='/') CARL
      div.navbar-nav
        a.nav-item.nav-link.nav-1(href='/user/login') Login
        a.nav-item.nav-link.nav-2(href='/user/register') Register
  block content
