include utils.pug

doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' type='text/css' href="../login-lora.css")
        title CARL - Log In 
    body
      div(class='login-page')
      a(href="/" class='logo-header') CARL
      div(class='form-container')
          h2(class='form-heading') Log In
          +validationErrorSummary(errors)
          form(class='authForm' action='/user/login' method='post')
            input(type='hidden' name='_csrf' value=token)
            div(class='input-group')
                input(type="email" class='input-field' name='email' placeholder="Email Address")
                span(class='bar')    
            div(class='input-group')
                input(type="password" class='input-field' name='password' placeholder="Password")
                span(class='bar')
            div(class='input-group')
                button(type='submit' class='login') Login         
      div(class="switch-group")
        p Don't have an account yet?         
        a(href='/user/register') Sign up 
