extends layout.pug
include project-utils.pug

block content
  h3 Create New Project
  
  body
    +error(error)
    form(action=`/teams/${teamId}/projects-create` method='post')
      include project-form-fields.pug
      div
        button(type='submit') Create
      div
        a(href=`/teams/${teamId}/projects` role='button') Cancel

  