extends layout.pug

block content
  div.wrapper
    table.table
      thead
        tr
          th Team ID
          th Team Name
      tbody
        each team in teams
          tr
            td= team.id
            td= team.teamName
