body {
  display: inline-flex;
  width: 100%;
  height: auto;
  margin: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-container {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 200px;
  display: grid;
  grid-template-rows: 30% 70%;
  border-radius: 10px;
  border: 10px solid rgb(66, 66, 66);
}

.modal-header {
  border-bottom: 0.1px solid rgb(196, 196, 196);
  font-size: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modal-form > label > input {
  width: 400px;
  height: 40px;
  color: black;
  border: 1px solid rgb(196, 196, 196);
  margin: 10px 0px;
}

.modal-form > * {
  padding: 15px;
}
.modal-button {
  font-size: 20px;
  font-weight: bold;
  color: rgba(226, 226, 226, 0.897);
  height: 50px;
  width: 200px;
  align-self: flex-end;
  background-color: rgb(196, 109, 109);
  border-radius: 2px;
}

.modal-button:hover {
  color: white;
  background-color: rgb(194, 11, 11);
  transition: 0.3s;
  transform: scale(1.05);
  cursor: pointer;
}

.main {
  height: 100%;
  width: 100%;
  display: inline-flex;
  background-color: rgba(235, 235, 235, 0.7);
}

.side-bar {
  background-color: rgb(50, 50, 78);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  transition: margin-left 250ms ease-out, transform 250ms ease-out;
  height: 600px;
  width: 200px;
}

.side-bar__isCollapsed {
  margin-left: -210px;
}

.side-bar-opener:hover {
  color: rgb(151, 151, 151);
  cursor: pointer;
  transition: 0.5s;
}

.side-bar-opener {
  font-size: 50px;
  /* height: 10px;
  margin-left: 20px; */
  /* margin: auto; */
  margin-left: 20px;
  padding: 0 10px;
}

.tabs {
  color: rgba(231, 231, 231, 0.705);
  border-bottom: rgba(231, 231, 231, 0.705) solid 1px;
}

.tabs > * {
  padding: 0 15px;
}
.home-tasks > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.home-tasks > div:hover {
  background-color: rgba(231, 231, 231, 1);
  color: rgb(50, 50, 78);
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

.project-list {
  display: flex;
  justify-content: space-between;
}

.project-name {
  margin: 4px 0px;
  width: 125px;
}

.project-name:hover {
  background-color: rgba(231, 231, 231, 1);
  color: rgb(50, 50, 78);
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

.favorite-click:hover {
  /* background-color: rgba(231, 231, 231, 1); */
  color: white;
  transition: 0.5s;
  transform: scale(1.4);
  cursor: pointer;
}

.invite {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#button {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  width: 100px;
  /* height: 30px; */
  padding: 2px 10px;
  border: 2px solid rgba(231, 231, 231, 0.705);
}

#button:hover {
  background-color: rgba(231, 231, 231, 0.705);
  color: rgb(50, 50, 78);
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

.nav-bar {
  display: inline-flex;
  background-color: #fff8ec;
  border-bottom: 0.2px solid rgba(150, 150, 150, 0.733);
  box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
}
.main-page {
  width: 100%;
  display: grid;
  grid-template-rows: 10% 10% 80%;
}

.project-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-label > div {
  display: flex;
  width: 80%;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1px solid rgb(196, 196, 196);
}

.main-page-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-square {
  margin: 30px;
  background-color: rgb(173, 173, 173);
  height: 150px;
  width: 150px;
  border-radius: 20%;
  display: flex;
  flex-direction: row-reverse;
}

.project-square > span {
  text-align: center;
  background-color: rgb(247, 247, 247);
  border: solid 0.5px rgb(114, 114, 114);
  height: 20px;
  color: rgba(51, 51, 51, 0.54);
  width: 20px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
  /* display: none; */
}

.project-square > span:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: black;
  color: white;
  transition: 0.3s;
}

.project-square:hover {
  background-color: rgba(231, 231, 231, 1);
  transition: 0.3s;
  transform: scale(1.1);
  cursor: pointer;
}
.project-new {
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 5px dashed black;
}
