/* * {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
} */

html, body {
  /* max-height: 800px;  */
  height: 100%; 
  margin: auto;
  color: #273240;
  background: #f6f8f9; 
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-container {
  background-color: #f6f8f9;
  margin: auto;
  padding: 20px;
  width: 500px;
  height: 270px;
  display: grid;
  grid-template-rows: 30% 70%;
  border-radius: 10px;
  border: 3px solid #151b26;

}

.modal-header {
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid rgb(196, 196, 196);
  font-size: 24px;
}

.modal-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.edit-delete-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.modal-form > * {
  padding: 15px 0;
}

.modal-button {
  font-size: 16px;
  font-weight: bold;
  color: rgba(226, 226, 226, 0.897);
  height: 50px;
  width: 160px;
  align-self: flex-start;
  background-color: lightseagreen;
  border-radius: 4px;
  border: none; 
}

.modal-button:hover {
  color: white;
  transition: 0.3s;
  transform: scale(1.05);
  cursor: pointer;
}

.alert {
  align-self: baseline;
  border-left: 0.3px solid rgb(196, 196, 196);
  margin: auto;
  padding-left: 10px;
}

.modal-form a {
  text-decoration: none;
}

.project-form-fields input {
  margin-left: 5px; 
  border: 1px solid rgb(196, 196, 196); 
  border-radius: 3px; 
  padding: 5px; 
  font-size: 16px; 
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  background-color: #f6f8f9;
}

.name {
  box-sizing: border-box;
  margin-top: 10px; 
  font-family: 'Michroma', sans-serif;
  color:white;
  font-size: 18px; 
}

.home a {
  display: block; 
  padding-left: 10px; 
  text-decoration: none;
  color: white; 
  width: 100%;
}

.home a:hover {
  cursor: pointer;
}

.emptyVoid { 
  position: absolute;
}

.side-bar {
  background: linear-gradient(to right, #141e30, #243b55);
  /* height: 100vh;  */
  display: flex;
  transition: margin-left 250ms ease-out, transform 250ms ease-out;
  width: 245px;
  min-width: 245px;
  min-height: 500px; 
  flex-direction: column; 
  justify-content: space-between;
}

.side-bar__isCollapsed {
  margin-left: -245px;
}

.side-bar-opener:hover {
  color: rgb(151, 151, 151);
  cursor: pointer;
  transition: 0.5s;
}

.side-bar-opener {
  font-size: 30px;
  margin-left: 20px;
  padding: 0 15px;
  padding-bottom: 5px;
}

.fa-trash,
.fa-pencil-square-o {
  font-size: 20px;
}

.for-button {
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; 
}

.upper-part {
  color: #d5dce0;
  border-bottom: 1px solid rgba(255,255,255,.16);
  box-shadow: 0 2px 12px 0 rgba(255,255,255,.16);
}

.tabs.teammates {
  display: flex; 
  flex-direction: column;
  padding: 15px 0; 
  font-size: 15px; 
  border-bottom: 1px solid rgba(255,255,255,.16);
  box-shadow: 0 2px 12px 0 rgba(255,255,255,.16);
 
}

.tabs.projects {
  display: flex; 
  flex-direction: column;
  padding: 15px 0; 
  font-size: 15px; 
  height: 175px;
  overflow: hidden;
}

.tabs.projects:hover {
  transition: 2s;
  overflow: auto;
}

.teammates-header {
  padding: 15px 0; 
  font-size: 16px; 
  color: white;
}

.projects-header {
  padding: 15px; 
  font-size: 16px; 
  color: white;
}

.project-list a {
  text-decoration: none; 
  color: white; 
  font-size: 14px; 
}

.project-list a:hover {
  cursor: pointer; 
}

.icons {
  display: flex; 
  flex-direction: row; 
  align-items: baseline;
}

.icons-projects {
  display: flex; 
  flex-direction: row; 
  align-items: baseline;
}

.project-name {
  padding: 0 10px; 
  
}

.project-index {
  margin: 5px 0; 
}

.teams-row {
  padding: 10px; 
  font-size: 14px; 
  color: white; 
}

i {
  color: lightseagreen; 
}

.tabs.footer {
  border-bottom: none;
  display: flex; 
  height: auto; 
  margin: 10px; 
  color: white;
}

.tabs > * {
  padding: 0 20px;
}

.tabs.home {
  height: 75px; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.home-icons {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px; 
  box-shadow: 0 2px 12px 0 rgba(255,255,255,.16);
  display: flex; 
  flex-direction: row; 
  align-items: baseline;
}

.home-icons:hover {
  background: rgba(255,255,255,.16);
  /* background-color: rgba(231, 231, 231, 1); */
  color: rgb(50, 50, 78);
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

.project-list {
  display: flex;
  justify-content: space-between;
}

.project-name {
  margin: 10px 0px;
  /* color: lightseagreen; */
  /* width: 125px; */
}

.project-list a:hover {
  /* background-color: rgba(231, 231, 231, 1); */
  /* color: rgb(50, 50, 78); */
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
  width: 100%; 
}

.invite {
 margin: 0 auto; 
}

.invite-peeps {
  display: block; 
  width: 100px; 
  text-align: center;
}

.for-button p {
  font-size: 13px;
  display: block;  
  text-align: center;
}

#button {
  text-align: center;
  font-size: 13px;
  color: white; 
  margin: 10px;
  width: 150px;
  /* padding: 10px 10px; */
  border: 2px solid rgba(231, 231, 231, 0.705);
}

#button a {
  text-decoration: none;
  color: white; 
}

#button:hover {
  /* background: white; */
  color: rgb(50, 50, 78);
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
  font-size: 16px; 
}

.nav-nav-bar-1 {
  display: flex;
  background-color: white;
  height: 75px; 
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 12px 0 rgba(36,50,66,.075); 
  width: 100%; 
}

.nav-bar-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.initials-div {
  height: 35px;
  width: 35px;
  border: 2px solid lightseagreen;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  /* background-color: rgb(132, 13, 132); */
}

.initials-div:hover {
  cursor: pointer;
  background: lightseagreen;
  color: black; 
}

.user-options {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  height: auto;
  width: 175px;
  border: rgb(196, 196, 196) 1px solid;
  box-shadow: 2px 2px 1px;
  border-radius: 10px;
}

.user-options > div:first-child {
   border-radius: 10px 10px 0 0;
}

.user-options > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 30px;
}

.user-options > div:hover {
  color: lightseagreen; 
  cursor: pointer;
  transition: .3s;
}

.navbar-nav {
  border-top: 0.1px rgb(196, 196, 196) solid;
  width: 100%;
  height: 100%;
  display: flex;
  
}

.logout {
  font-size: 15px;
  width: 100%;
  background-color: white;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.logout p {
  display: block;  
  border-radius: 0 0 10px 10px; 
}

.logout:hover {
  /* background-color: #cbd4db; */
  color: lightcoral; 
  font-size: larger
  cursor: pointer;
}

.main-page-none {
  width: 100%; 
  display: flex;
  flex-direction: column;
  height: 100vh; 
  
}

.project-label {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0 30px; 
}

.project-label > div {
  display: flex;
  align-items: flex-end;
  width: 80%;
  height: 70px;
  font-size: 20px;
  padding-bottom: 10px; 
  padding-left: 10px; 
  font-weight: 500;
  /* align-items: baseline; */
  border-bottom: 1px solid #cbd4db;

}

.main-page-body-wrapper {
  display: flex;
  justify-content: center; 
  /* width: 100vw;  */
  /* height: 100%;  */
}


.main-page-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%; 
}

.project-square {
  box-sizing: border-box;
  margin: 30px;
  /* background: linear-gradient(to right, #FF5F6D, #FFC371); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #cbd4db; 
  height: 150px;
  width: 150px;
  border-radius: 20%;
  /* display: grid;
  grid-template-rows: 34% 66%; */
}

.project-options {
  display: flex;
  justify-content: space-between;
  padding: 0 10px; 
  align-items: baseline;
}

.delete-button {
  text-align: center;
  /* background-color: rgb(247, 247, 247); */
  /* border: solid 0.5px rgb(114, 114, 114); */
  height: 20px;
  color: #151b26;
  width: 20px;
  margin-right: 10px;
  margin-top: 10px;
  /* border-radius: 50%; */
  text-decoration: none;
  /* display: none; */
}

.delete-button:hover {
  transform: scale(1.1);
  cursor: pointer;
  
  transition: 0.3s;
}

.project-square:hover {
  background-color: rgba(231, 231, 231, 1);
  transition: 0.3s;
  transform: scale(1.1);
  cursor: pointer;
}
.project-square.create-new {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px dashed gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
  color: #151b26; 
  /* visibility: hidden;   */
}

.edit-button:hover {
  font-size: 25px; 
}

#new-column {
  height: 50px;
  width: 50px;
  background-color: lawngreen;
}

.icons-menu {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.icons-menu i {
  font-size: 45px; 
}

.project-title {
  display: flex;
  justify-content: center;
  font-size: 14px; 
  color: #151b26; 
  font-weight: 500; 
}

.wrapper-edit-project {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  width: 80%;  
  border: 1px solid black; 
  margin: 30px; 
}

.main-edit-project {
  display: flex;
  /* flex-direction: column; */
}

.main-delete-project {
  display: flex; 
  flex-direction: column;
  border: 1px solid lightseagreen; 
  border-radius: 10px;
  width: 400px;  
  height: 200px;
  margin: 60px auto; 
  align-items: center;
  padding: 15px;  

}

.main-delete-project h2 {
  text-align: center; 
  margin-bottom: 0px; 
  padding-bottom: 0px; 
  border-bottom: 1px solid lightseagreen; 
}

.main-delete-project p {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px; 
  padding-top: 5px; 
}

.delete-project {
  display: flex; 
  width: 300px; 
  justify-content: space-between;
  height: 50px; 
}

.delete-project button {
  background: lightseagreen;
  width: 150px; 
  border-radius: 10px; 
  font-size: 16px; 
  border: none;
  color: white; 
}

.delete-project button:hover {
  background-color: lightsalmon;
  cursor: pointer; 
}

.delete-project a {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: lightseagreen; 
  border: 1px solid lightseagreen; 
  border-radius: 10px;
  width: 100px; 
  text-align: center;
}

.delete-project a:hover {
  text-decoration: underline; 
}

.wrapper-edit {
  border: 1px solid lightseagreen; 
  border-radius: 10px;
  width: 500px; 
  margin: 50px auto; 
  height: 600px;  
}

.wrapper-edit h3 {
  text-align: center; 
}

.text-muted {
  text-align: center; 
}

.form-group-edit-user {
  display: flex; 
  flex-direction: column;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 5; */
  margin: 20px; 
}

.form-group-edit {
  
  display: flex; 
  flex-direction: column; 
  margin: 10px 0; 

}

.form-group-edit-user input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px; 
}

.form-group {
  display: flex; 
  flex-direction: column; 
  /* margin: 8px 0;  */
}

.py-4 {
  display: flex;
  width: 500px; 
  justify-content: center;
  height: 50px; 
}

.py-4 button {
  background: lightseagreen;
  width: 150px; 
  border-radius: 10px; 
  font-size: 16px; 
  border: none;
  color: white; 
  margin-right: 25px; 
  
}

.py-4 button:hover {
  cursor: pointer; 
  font-size: larger;

}

.py-4 a {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: lightseagreen; 
  border: 1px solid lightseagreen; 
  border-radius: 10px;
  width: 100px; 
  text-align: center;
}

.py-4 a:hover {
  text-decoration: underline; 
}

.form-group-edit-user label {
  display: block; 
  margin: 6px 0; 
}

.mb-3 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px; 
}

.create-column {
  margin: 20px auto 0; 
}

.button-add-column {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: lightseagreen; 
  border: 1px solid lightseagreen; 
  border-radius: 10px;
  width: 200px; 
  text-align: center; 
  height: 40px; 
}

.button-add-column:hover {
  cursor: pointer; 
  background-color: lightseagreen;
  color: white; 

}











