extends ../layout.pug

block content
  div.wrapper
    h4.pb-4.text-muted Columns
    div.d-flex
      each column in columns
        .card.m-4(style='width: 20rem;')
          div.card-header= column.dataValues.columnName
          each task in taskObj[column.dataValues.id]
            li.list-group-item= task.dataValues.taskDescription
