.modal-container
    .modal-header Create a New Column
    form.modal-form(action=`/teams/${teamId}/projects/${projectId}/columns` method='post')
        +error(error)
        include columns-form-fields.pug
        button.modal-button(type='submit') Create Column
        a(href=`/teams/${teamId}/projects/${projectId}/columns`) Cancel