input(type='hidden' name='_csrf' value=csrfToken)
div
  label Description
  textarea(name='taskDescription')= task.taskDescription
div
  label Due Date
  input(type='date' name='dueDate' value=task.dueDate)
