body {
  background-color: rgba(235, 235, 235, 0.7);
  margin: 0px;
}

nav {
  background-color: rgba(235, 235, 235, 1);
  display: grid;
  grid-template: 1 / 3;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
  position: fixed;
  order: 1;
  width: 100%;
  height: 60px;
  top: 0;
}

.navbar-brand {
  text-decoration: none;
  color: black;
  font-size: 45px;
  grid-column: 1;
  padding: 5px 10px;
}

.navbar-nav {
  display: flex;
  font-size: 20px;
  text-align: end;
  grid-column: 3;
  padding-top: 10px;
  align-items: center;
  justify-content: flex-end;
}


.nav-1 {
  margin: 10px 15px;
  color: black;
}

.nav-2 {
  background-color: rgb(78, 78, 78);
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 15px;
}

.nav-item {
  text-decoration: none;
  padding: 5px 5px;
}

.nav-2:hover {
  background-color: rgb(31, 31, 31);
  transition: 0.5s;
}

.body-paragraph {
  padding: 75px;
  text-align: center;
  z-index: 0;
}

.body-paragraph > h1 {
  font-size: 50px;
}

.body-paragraph > p {
  font-size: 25px;
  color: gray;
}

.body-video {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.message {
  padding: 25px 30px;
}

.message > h1 {
  font-size: 35px;
}

.message > p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
}

footer {
  background-color: rgb(78, 78, 78);
  height: 125px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.fa {
  padding: 20px;
  font-size: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}
.fa::before {
  font-size: 50px;
}

.fa:hover {
    opacity: 0.7;
    transition: 0.3s;
}