* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF5F6D, #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;

} 

.logo-header {
    text-align: center; 
    margin: 30px auto; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;  
}

.form-heading {
    color: #273240; 
    font-size: 2rem; 
    text-align: center;
}

.login-page {
    width: 90%; 
    height: 100%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.form-container {
    width: 100%; 
    max-width: 40rem;
    height: 40rem;;
    background-color: #fff;
    padding: 10rem 5rem; 
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15); 
    border-radius: 4px; 
}


.logo-header {
    color: whitesmoke; 
    text-align: center;
    font-size: 28px; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


.input-group {
    width: 90%; 
    margin: 0 auto; 
    position: relative; 
    display: flex; 
    align-items: baseline; 
}

.input-group input {
    
    width: 100%; 
    padding: 1rem; 
    margin-top: 1rem; 
    font-size: 1rem; 
    color: #273240; 
    border-radius: 4px; 

}

.input-group button {
    margin: 2rem auto; 
    padding: .5rem 3rem; 
    background: linear-gradient(to right, #FF5F6D, #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none; 
    color: #fff; 
    font-size: 2rem; 
    cursor: pointer; 
    border-radius: 3rem; 

}
