.modal-container
    .modal-header Edit your project
    form.edit-project(action=`/teams/${teamId}/projects/${existingProject.id}` method='post')
        +error(error)
        include project-form-fields.pug
        div
            button(type='submit') Update Project
            a(href=`/teams/${teamId}/projects` roll='button') Cancel