.modal-container
    .modal-header Edit your project
    form.modal-form(action=`/teams/${teamId}/projects/${existingProject.id}` method='post')
        .edit-delete-elements
            include project-form-fields.pug
            button.modal-button(type='submit') Update Project
            a(href=`/teams/${teamId}/projects` roll='button') Cancel
        +error(editError)