include project-utils.pug
include layout.pug
  .nav-bar
    .nav-bar-item.side-bar-opener &rAarr;
    h3(onclick=`location.href='/teams/${teamId}/projects';`) HOME
  .project-label
    div YOUR PROJECTS
  .main-page-body
    body
      +error(error)
      form(action=`/teams/${teamId}/projects/${project.id}/edit` method='post')
        include project-form-fields.pug
        div
          button(type='submit') Update Project
          a(href=`/teams/${teamId}/projects` roll='button') Cancel