mixin error(err)
  if err
        div(class='alert' style="position: absolute; align-self: baseline; border-right: 0.3px solid rgb(196, 196, 196); top: 250px")
          p The following error(s) occurred: 
          ul
            each e in err
              li= e